
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
    font-family: 'Open Sans';
    src: url('../src/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../src/assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../src/assets/fonts/OpenSans-Light.ttf');
}

* {
  font-family: "Open Sans";
}

:root { 
  --bs-dark-rgb: 18, 20, 22; 
  --bs-primary-rgb: 85, 64, 236;
}