<div *ngIf="task">
    <div>
        <a class="backhome-link" routerLink="/home">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </a>
        <img [src]="task.imageUrl" class="img-fluid img-task" alt="...">
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="task-description py-4">
                    <p>{{task.description}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="task-location">
                    <p>Lieu: <span>{{task.location}}</span></p>
                </div>
            </div>
            <div class="col">
                <div class="task-timeToDo">
                    <p>Temps estimé: <span>{{task.time}}</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="task-price py-5">
                    <p>{{task.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>