* {
  color: #e5e5e5;
}

.card {
  background-color: #21252a;
}

.location {
  font-family: "Open Sans Bold";
  font-size: 14px;
  text-transform: uppercase;
}

.description {
  margin-top: 1rem;
  font-size: 14px;
}

.price {
  font-family: "Open Sans Bold";
  font-size: 16px;
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.information-block {
  position: relative;
  top: 1rem;
}

.image {
  height: 100%;
}

.location-icon {
  margin-right: 0.3rem;
}