<div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3">
    <div class="col" *ngFor="let task of tasks">
        <div class="card shadow-sm">
            <div class="card-body" >
                <h5 class="card-title title">{{task.name}}</h5>
                <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <h5 class="card-title price">{{task.price}}</h5>
                <a routerLink="/detail/{{task.id}}" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>